* {
  text-align: center;
  /* font-family: ; */
}
/* body {
  background-image: url('../img/machine.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
} */
.card {
  margin: auto;
  margin-top: 5vh;
  width: 60vw;
  max-width: 600px;
  padding: 10px;
}
h1, .underLine {
  text-decoration: underline;
}
input{
  margin: auto;
  width: 65%;
  display: block;
  margin-bottom: 10px;
}
.form-control {
  margin:auto;
  width: 75%;
}
.form-control:focus {
  border-color: whitesmoke;
  box-shadow: 0 0 5px 2px rgba(166, 23, 173, 0.4);
  background-color: rgba(166, 23, 173, 0.4);
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.btn-outline-dark {
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex:  1 1 auto;
    -webkit-flex:  1 1 auto;
    -ms-flex:  1 1 auto;
    flex:  1 1 auto;
    height: 10%;
    padding: 0;
    margin: 5px;
    margin-top: 20vh;
    font-size: smaller;
}
.btn-outline-success, .btn-outline-danger, .btn-outline-primary  {
  margin:auto;
  width: 40%;
  padding: 0;
  display: block;
  font-size: small;
}