@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Flavor

<h2>Are you sure you want to delete @Html.DisplayFor(model => model.Name)?</h2>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-outline-danger" />
}
<div class="flex">
  @Html.ActionLink("Back to Flavors", "Index", "Flavors", null, new { @class = "btn btn-outline-dark"})
  @Html.ActionLink("Home", "Index", "Home", null, new {@class = "btn btn-outline-dark"})
</div>